<%= stylesheet_link_tag 'custom' %>
 
<div class="container py-5">

<div class="row ">
    <div class="text-center p-5">
    <h1>Albums</h1>
    </div>
    <% @musics.each do |music| %>
      <div class=" cards col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="">
          <%= image_tag music.thumbnail, class: 'card-img-top' if music.thumbnail.attached? %>
          <div class="c c">
            <h5 class=" "><%= music.name %></h5>
            <!---<%= audio_tag rails_blob_path(music.audio), controls: true, class: 'w-100' if music.audio.attached? %>--->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
 