<h2> Lets go page </h2>
<div class="text-center" style="display: flex; justify-content: center; align-items: center; height: 100vh; background: rgba(0,0,0,0.5);">
    <%= link_to home_path do %>
      <%= image_tag("headphone.png", alt: "lets go image", width: "35%", height: "25%", style: "box-shadow: 10px 10px 5px grey;") %>
    <% end %>
</div>
