<h2> Lets go page </h2>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background: rgba(0,0,0,0.5);">
  <img src="headphone_image_path" style="box-shadow: 10px 10px 5px grey;">
  <h3>Getting start</h3>
  <%= link_to 'Lets_go', home_path, class: 'btn btn-primary rounded-3' %>
</div>
